{% extends 'base.html'%}
{% block content %}
    <!-- INTERESTS -->
<div class="container">

    <div id="interst mt-5">
        <h1 class="h1" style="font-size: 50px;">INTERESTS</h1>
    
        <p class="mx-auto w-50 mb-5"><i class="fa fa-laptop" aria-hidden="true" style="font-size: 100px;color:red"></i></p> 
            <p class="mx-auto w-50 mb-5"><i class="fa fa-camera" aria-hidden="true" style="font-size: 100px;color:red"></i></p>
            <p class="mx-auto w-50"><i class="fa fa-gamepad" aria-hidden="true" style="font-size: 100px;color:red"></i>
        </p>
    
        </div>
        
</div>


{% endblock %}