{% extends 'base.html'%}
{% block content %}
   <!-- Certifications -->

   <div id="certificate" class="container">
    <h1 class="h1 mb-5" style="font-size: 50px;">CERTIFICATIONS & AWARDS</h1>

        <div id="myCarousel" class="carousel slide mx-auto mb-5 mt-5" data-ride="carousel"style="width:50%">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>

      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
  
        <div class="item active">
          <img src="/static/html_cert.jpg" class="img-fluid" alt="html_cert" style="width:100%;">
        </div>
  
        <div class="item">
          <img src="/static/Ccert.jpg" class="img-fluid" alt="html" style="width:100%;">
        </div>
      
        <div class="item">
          <img src="/static/PHPcert.jpg" class="img-fluid" alt="New York" style="width:100%;">
        </div>
    
        
        <div class="item">
            <img src="/static/CSScert.jpg" class="img-fluid" alt="New York" style="width:100%;">
          </div>

          <div class="item">
            <img src="/static/SQLcert.jpg" class="img-fluid" alt="New York" style="width:100%;">
          </div>

          <div class="item">
            <img src="/static/Jscert.jpg" class="img-fluid" alt="New York" style="width:100%;">
          </div>
      
      </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev" hidden="hidden">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next" hidden="hidden">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
{% endblock %}