{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <!-- Personal Information -->
<p class="h1"><b style="font-size: 40px;">{{personalinfo.lname | upper}}, <span style="color:black">{{personalinfo.fname|upper}}</b></span></p>
<address  style="font-size: 20px;"><b><li class="fa fa-map-marker" style="font-size: 30px;color:red"></li> Address<br/>
    <i class="fa fa-arrow-circle-right" style="font-size: 30px;color:red" aria-hidden="true"></i>
   Zip Code
    <p style="font-size: 20px;"><i class="fa fa-birthday-cake" style="color: red;font-size: 30px;" aria-hidden="true"></i>
       Birthday
    </p>
</address>

<div >
    <a href="#" target="blank"  style="color:lightblack;" ><i class="fa fa-facebook-square" style="color:lightblack;font-size:25px" aria-hidden="true"></i></a>
  <a href="#" style="color:lightblack;" target="blank" class="ml-2"> <i class="fa fa-github" style="color:lightblack;font-size:25px" aria-hidden="true"></i></a>
  <a href="#" style="color:lightblack;" target="blank" class="ml-2"><i class="fa fa-instagram" style="color:lightblack;font-size:25px" aria-hidden="true"></i></a>
    <a href="#" class="ml-2" style="color:lightblack;" target="blank"><i class="fa fa-twitter-square" style="color:lightblack;font-size:25px" aria-hidden="true"></i></a>
    <a href="#" style="color:lightblack;" class="ml-2"><i class="fa fa-linkedin-square" style="color:lightblack;font-size:25px" aria-hidden="true" target="blank"></i></a>
    <a href="#" style="color:lightblack;"><i class="fa fa-youtube-square" style="color:lightblack;font-size:25px" aria-hidden="true" target="blank"></i></a>

</div>
</div>


    {% endblock %}