{% extends 'base.html' %}
{% block content %}
<div class="container w-100 float-right text-primary h1"><a class="h1" style="float: right;font-size:50px" 
  href="{{url_for('tasks.add_taskslist')}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
</a></div>
{% for tasklist in taskslist %}
<div class="card mx-auto w-50 mt-5 mb-5">
    <img class="card-img-top" src="{{tasklist['tasklistphoto']}}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text h1"><b>{{tasklist['tasklistname']}}</b></p>
      <p class="card-text mx-auto w-50 h3">{{tasklist['tasklistdescription']}}</p>
      <p class="card-subtitle mx-auto w-100 h4">Created On :{{tasklist['created']}}</p>

      <a href="#" class="btn btn-primary w-100 mx-auto h1" style="font-size: 20px;">Show Tasks</a>
    </div>
  </div>

  {% endfor %}
{% endblock %}