{% extends 'base.html' %}
{% block content %}
<div class="container">
  <p></p>
</div>
<div class="container w-100 float-right text-primary h1"><a class="h1" style="float: right;font-size:50px" 
  href="{{url_for('task.add_task')}}"><i class="fa fa-plus-circle" aria-hidden="true"></i>
</a></div>
{% for task in tasks %}
<div class="card mx-auto w-50 h1">
    <div class="card-body">
        <p class="card-text h1"><b>{{task['title']}}</b></p>
      <p class="card-text h1"><b>{{task['body']}}</b></p>
      <p class="card-text h1"><b>{{task['prority']}}</b></p>
      <p class="card-subtitle mx-auto w-100 h4">Created On :{{task['created']}}</p>
      <a href="{{url_for('task.update_task')}}" class="btn btn-primary w-25 mx-auto h1" style="font-size: 20px;">update </a>
      <a href="{{url_for('task.delete_task')}}" class="btn btn-primary w-25 mx-auto h1" style="font-size: 20px;">delete </a>

    </div>
  </div>

  {% endfor %}
{% endblock %}